.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*tmp

data/m84082_250614_081210_s3.hifi_reads.bam
data/GCF_016432855.1_SaNama_1.0_genomic.fna.gz
data/pacbio-reads/m84082_250614_081210_s3.hifi_reads.bam

data/*bam
data/*fa
data/*fna
data/*mmi


code/*/*bam

analyses/*pac*
analyses/11*
analyses/14*/*thylat*csv
analyses/15*/all*

genome-browser/data/genome/GCF*

# Large genome files (hosted on Gannet)
genome-browser/data/genome/*.fa
genome-browser/data/genome/*.fa.fai
