.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*tmp

data/m84082_250614_081210_s3.hifi_reads.bam
data/GCF_016432855.1_SaNama_1.0_genomic.fna.gz
data/pacbio-reads/m84082_250614_081210_s3.hifi_reads.bam

data/*bam
data/*fa
data/*fna
data/*mmi


code/*/*bam

analyses/*pac*

