.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*tmp
*.fastq.gz
data/m84082_250614_081210_s3.hifi_reads.bam
data/GCF_016432855.1_SaNama_1.0_genomic.fna.gz
data/pacbio-reads/m84082_250614_081210_s3.hifi_reads.bam

data/*bam
data/*fa
data/*fna
data/*mmi


code/*/*bam

analyses/*pac*
analyses/11*
analyses/14*/*thylat*csv
analyses/15*/all*
genome-browser/data/genome/GCF_016432855.1_SaNama_1.0_genomic.fa
.positai

# Large files (>100MB) in output/21.1-gene-anchored-synteny
output/21.1-gene-anchored-synteny/lean.purged.fa
output/21.1-gene-anchored-synteny/lean.purged.fa.mmi
output/21.1-gene-anchored-synteny/lean_purged_intermediate/reference_all_genes.fa
output/21.1-gene-anchored-synteny/lean_purged_intermediate/reference_all_to_target_all.sam
output/21.1-gene-anchored-synteny/lean.purged.liftoff.gff3
output/21.1-gene-anchored-synteny/lean.purged.liftoff.gff3_polished
output/21.1-gene-anchored-synteny/purge/lean/lean.hap.fa
output/21.1-gene-anchored-synteny/purge/lean/lean.purged.fa
output/21.1-gene-anchored-synteny/purge/lean/lean.reads.paf.gz
output/21.1-gene-anchored-synteny/purge/lean/lean.split.fa
output/21.1-gene-anchored-synteny/purge/lean/lean.split.self.paf.gz
output/21.1-gene-anchored-synteny/purge/lean/PB.base.cov
output/21.1-gene-anchored-synteny/purge/siscowet/PB.base.cov
output/21.1-gene-anchored-synteny/purge/siscowet/siscowet.hap.fa
output/21.1-gene-anchored-synteny/purge/siscowet/siscowet.purged.fa
output/21.1-gene-anchored-synteny/purge/siscowet/siscowet.reads.paf.gz
output/21.1-gene-anchored-synteny/purge/siscowet/siscowet.split.fa
output/21.1-gene-anchored-synteny/purge/siscowet/siscowet.split.self.paf.gz
output/21.1-gene-anchored-synteny/siscowet.purged.fa
output/21.1-gene-anchored-synteny/siscowet.purged.fa.mmi
output/21.1-gene-anchored-synteny/siscowet_purged_intermediate/reference_all_genes.fa
output/21.1-gene-anchored-synteny/siscowet_purged_intermediate/reference_all_to_target_all.sam
output/21.1-gene-anchored-synteny/siscowet.purged.liftoff.gff3
output/21.1-gene-anchored-synteny/siscowet.purged.liftoff.gff3_polished

analyses/23-genome-sv/
